*{
    box-sizing: border-box;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'Sorts Mill Goudy', serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*-------------------------------title css-------------------------------------*/
.title{
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    font-size: 48px;
    font-weight: bold;
    border: 2px solid lightblue;
    border-radius: 8px;
    box-shadow: 10px 8px 5px gray;
    color: whitesmoke;
    text-align: center;
}
/*------------------------------------------get size and show grid---------------------------*/
#range-size{
    accent-color: lightblue;
    margin-top: 10px;
}

span{
    font-size: 20px;
    color: white;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
}

.switch{
    color: white;
}
#toggle{
    display: block;
    position: relative;
    width: 32px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
}

#toggle .indicator{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: scale(0.9);
    top: 0;
    left: 0;
    background-color: aqua;
    transition: 0.5s;
}

#toggle.active .indicator{
    left: 16px;
}
#toggle.off .indicator{
    left: 0;
}

/*---------------------------------------main container---------------------------*/
.main-container{
    display: flex;
    justify-content: center;
    gap: 100px;
}
/*------------------------------------------grid container---------------------------*/
.grid-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 642px;
    height: 640px;
    border: 1px ridge lightblue;
    background-color: white;
    
}

.grid-row{
    display: flex;
    flex-direction: row;
    
}
.grid-child{
    border-style: none;
    border-width: 0 1px 1px 0;
    
}
/*------------------------------------------control buttons---------------------------*/
.control-buttons{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

button, .chose-color, .grid-background{
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    color: whitesmoke;
    box-shadow: 8px 5px 5px gray;
    cursor: pointer;
}

.color-palette{
    display: flex;
    gap: 10px;
}

